{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Login</h2>
    <form method="POST" class="border p-4 rounded shadow-sm">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Email" name="email" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
